<h1>Sign up</h1>

<form action="/signup" method="POST">
  <div>
    <input type="text" name="email" placeholder="email">
  </div>
  <div>
    <input type="password" name="password" placeholder="password">
  </div>
  <div>
    <button type="submit">Sign up</button>
  </div>
</form>

<div>
  <a href="/login">Log in</a>
</div>
